{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.account.courses.menu'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'sylius.ui.account.courses.menu'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui segment">
        {% if courses|length == 0 %}
            <p style="font-size: 16px;text-align: center;margin: 1em 0;">
                {{ 'sylius.ui.account.courses.empty'|trans }}
            </p>
        {% endif %}
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{{ path('sylius_shop_account_course', {slug: course.slug}) }}">
                        {{ course.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
