<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f3f3f3">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('meta/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset ('meta/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('meta/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('meta/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('meta/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-config" content="{{ asset('meta/browserconfig.xml') }}" />
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ sylius_template_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
{{ sylius_template_event('sylius.shop.layout.before_body') }}
<div class="pusher" id="app">
    {% block top %}
        <div id="menu" class="ui large sticky stackable menu">
            {{ sylius_template_event('sylius.shop.layout.topbar') }}
        </div>
    {% endblock %}

    <div class="ui container">
        {% block header %}
            <header>
                {{ sylius_template_event('sylius.shop.layout.header') }}
            </header>
        {% endblock %}

        {% include '@SyliusShop/_flashes.html.twig' %}

        {{ sylius_template_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sylius_template_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ sylius_template_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sylius_template_event('sylius.shop.layout.after_body') }}
</body>
</html>
