{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ coursePage.name }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_courses') }}" class="section">{{ 'sylius.ui.account.courses.menu'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_course', {slug: coursePage.course.slug}) }}" class="section">{{ coursePage.course.name }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ coursePage.name }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui segment">
        {#<h1 class="ui dividing header">#}
            {#{{ coursePage.name }}#}
        {#</h1>#}
        <style>
            .course-container {
                word-break: break-word;
            }
            ol > li {
                font-size: 20px;
            }
            p, ul, ol {
                line-height: 1.65rem;
            }
            figure {
                padding: 10px;
                display: inline-block;
                margin: 1rem;
            }
            figcaption {
                text-align: center;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            iframe {
                max-width: 100%;
            }
            #scrollToTopBtn {
                position: fixed;
                right: 20px;
                bottom: 20px;
                z-index: 1;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.3);
                transform: translateY(100px);
                opacity: 0;
                transition: transform 0.5s, opacity 0.3s;
            }
            .showScrollBtn {
                transform: translateY(0) !important;
                opacity: 1 !important;
            }
        </style>
        <div class="course-container">
            {% set previousPage = coursePage.previousPage %}
            {% set nextPage = coursePage.nextPage %}
            {{ coursePage.content|raw }}
            <div style="display: flex;justify-content: space-between; flex-wrap: wrap;">
                {% if previousPage %}
                    <a style="margin: 5px 5px 5px 0;" class="ui primary icon labeled button" href="{{ path('sylius_shop_account_course_page', {slug: coursePage.course.slug, pageSlug: previousPage.slug}) }}">
                        <i class="arrow left icon"></i>
                        {{ previousPage.name }}
                    </a>
                {% else %}
                    <span></span>
                {% endif %}
                {% if nextPage %}
                    <a style="margin: 5px 0 5px 0;" class="ui primary icon labeled button" href="{{ path('sylius_shop_account_course_page', {slug: coursePage.course.slug, pageSlug: nextPage.slug}) }}">
                        {{ nextPage.name }}
                        <i class="arrow right icon"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <button class="ui button icon" id="scrollToTopBtn">
            <i class="arrow up icon"></i>
        </button>
        <script>
			document.addEventListener('DOMContentLoaded', function() {
				var scrollToTopBtn = document.querySelector("#scrollToTopBtn");
				document.addEventListener("scroll", handleScroll);
				function handleScroll() {
					var scrollableHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
					var GOLDEN_RATIO = 0.5;

					if ((document.documentElement.scrollTop / scrollableHeight ) > GOLDEN_RATIO) {
						if(!scrollToTopBtn.classList.contains("showScrollBtn"))
							scrollToTopBtn.classList.add("showScrollBtn")
					} else {
						if(scrollToTopBtn.classList.contains("showScrollBtn"))
							scrollToTopBtn.classList.remove("showScrollBtn")
					}
				}
				scrollToTopBtn.addEventListener("click", scrollToTop);
				function scrollToTop() {
					window.scrollTo({
						top: 0,
						behavior: "smooth"
					});
				}
			});
        </script>
    </div>
{% endblock %}
