{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ coursePage.name }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_courses') }}" class="section">{{ 'sylius.ui.account.courses.menu'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_course', {slug: coursePage.course.slug}) }}" class="section">{{ coursePage.course.name }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ coursePage.name }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="ui segment">
        {#<h1 class="ui dividing header">#}
            {#{{ coursePage.name }}#}
        {#</h1>#}
        <style>
            p {
                line-height: 1.65rem;
            }
        </style>
        <div>
            {{ coursePage.content|raw }}
        </div>
    </div>
{% endblock %}
